
{% extends 'index.html'%}
{% block content %}
{%load static%}   

<div class="container">

    <!-- Outer Row -->
    <div class="row justify-content-center">

        <div class="col-xl-10 col-lg-12 col-md-9">

            <div class="card o-hidden border-0 shadow-lg my-5">
              
                <div class="card-body p-0">
                    
                    <!-- Nested Row within Card Body -->
                    <div class="row">
                        <div class="col-lg-3 d-none d-lg-block bg-login-image">
                    
                        </div>
                        <div class="col-lg-6">
                            <div class="p-5">
                                <div class="text-center">
                                    <h1 class="h4 text-gray-900 mb-4">Prevision de MINENFANT</h1>
                                    
                                </div>
                                <form class="user" method="post">
                                    {% csrf_token %}
                                    <div class="text-center">
                                        <label for="" id="nnn" class="h4 text-gray-900 mb-4">000026363</label>
                                        
                                    </div>
                                    <div class="form-group">
                                        <input type="number" class="form-control"
                                            id="exampleInputEmail" name="prevision_choral"
                                            placeholder="Prevision aux chorales" required>
                                    </div>
                                    <div class="form-group">
                                        <input type="text" class="form-control"
                                            id="exampleInputEmail" name="annee_prevision"
                                            placeholder="Annee de revision" hidden>
                                    </div>
                                    <div class="single-form">
                                        <button class="btn btn-primary btn-block" type="submit">Previser</button>
                                    </div>
                                    
                               </form>
                               <hr>
                               <div class="text-center">
                                
                                   &#x2714; <i class="small text-xs font-weight-normal text-success" >Enregistrement reussi avec succes</i>
                                   X <i class="small text-xs font-weight-normal text-danger" >Echec d'enregistrement</i>
                                   
                                   
                               </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>

</div>

{% endblock %}