{% extends 'index.html'%}
{% block content %}
{%load static%}   



<div class="container-fluid">

    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Table des offrandes</h1>
        
    </div>

    <p class="mb-4">Ce tableau contient la liste de toute les depenses faitent a l'eglise CBCA Katoyi </p>

    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Donnees</h6>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                           <!-- <th>Numero d'ordre</th> -->
                            <th>Numero du compte</th>
                            <th>Nom de l'offrande</th>
                            <th>Montant souscrit</th>
                            <th>Annee</th>
                            <th>Action</th>
                            
                        </tr>
                    </thead>
                    <tbody>
                        {% for i in data %}
                        <tr>
                            <td>{{ i.num_compte }}</td>  <!-- <td>{{ forloop.counter }}</td>   Affichage du numéro d'ordre dynamique -->
                           <!-- <td>{{ i.num_compte }}</td> -->
                            <td>{{ i.nom_prevision }}</td>
                            <td>{{ i.montant_prevus }}</td>
                            <td>{{ i.annee_prevus }}</td>
                            <td>
                                <div class="row">
                                    <!-- Lien pour modifier l'élément -->
                                    <a class="nav-link" href="#">
                                        <i class="small text-xs font-weight-bold text-primary">Modifier</i>
                                    </a>
                                    
                                    <!-- Lien pour supprimer l'élément -->
                                    <a class="nav-link" href="#">
                                        <i class="small text-xs font-weight-bold text-danger">Supprimer</i>
                                    </a>
                                </div>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                    
   
                </table>
                {% if message_succes %}
                                &#x2714; <i class="small text-xs font-weight-normal text-success" >{{message_succes}}</i>    
                                {% endif %}
                                {% if message_erreur %}
                                &#x274C; <i class="small text-xs font-weight-normal text-danger" >{{message_erreur}}</i>
                {% endif %} 
                <nav aria-label="Page navigation example">
                    <ul class="pagination justify-content-end">
                        <li class="page-item ">
                            {% if data.has_previous %}
                                    <a class="page-link" href="?page={{ data.previous_page_number }}">Précédent</a>
                            {% endif %}
                        </li>
                        {% for num in data.paginator.page_range %}
                            {% if data.number == num %}
                              <!-- Page active -->
                              <li class="page-item">
                                
                                <a class="page-link" href="#">{{ num }}</a>
                            </li>
                            {% else %}
                              <!-- Page cliquable -->
                              <li class="page-item">
                                <a href="?page={{ num }}" class="page-link">{{ num }}</a>
                              </li>
                            {% endif %}
                          {% endfor %}
    
                        <li class="page-item">
                        
                        {% if data.has_next %}
                                            <a class="page-link" href="?page={{ data.next_page_number }}">Suivant</a>
                                            
                            {% endif %}
                        </li>
                    </ul>
                    </nav>

            </div>
        </div>
    </div>



   

</div>


{% endblock %}