
{% extends 'index.html'%}
{% block content %}
{%load static%}   

<div class="container">

    <!-- Outer Row -->
    <div class="row justify-content-center">

        <div class="col-xl-10 col-lg-12 col-md-9">

            <div class="card o-hidden border-0 shadow-lg my-5">
              
                <div class="card-body p-0">
                    
                    <!-- Nested Row within Card Body -->
                    <div class="row">
                        <div class="col-lg-3 d-none d-lg-block bg-login-image">
                    
                        </div>
                        <div class="col-lg-6">
                            <div class="p-5">
                                <div class="text-center">
                                    <h1 class="h4 text-gray-900 mb-4">Modification de mot de passe</h1>
                                    
                                </div>
                                <form class="user" method="post" action="{% url 'app:Change_Password'%}">
                                    {% csrf_token %}


                                    <div class="form-group">
                                        <input type="password" class="form-control"
                                            id="exampleInputEmail" name="ancien_mdp"
                                            placeholder="Tapez l'ancien mot de passe" required>
                                    </div>
                                    <div class="form-group">
                                        <input type="password" class="form-control"
                                            id="exampleInputEmail" name="nouveau_mdp"
                                            placeholder="Tapez le nouveau mot de passe" required>
                                    </div>
                                    <div class="form-group">
                                        <input type="password" class="form-control"
                                            id="exampleInputEmail" name="confirm_mdp"
                                            placeholder="Retapez le mot de passe" required>
                                    </div>
                                    <div class="single-form">
                                        <button class="btn btn-primary btn-block" type="submit">Modifier</button>
                                    </div>
                                    
                               </form>
                               <hr>
                               <div class="text-center">
                                {% if messages_success %}
                                &#x2714; <i class="small text-xs font-weight-normal text-success" >{{messages_success}}</i>    
                                {% endif %}
                                {% if message_erreur %}
                                &#x274C; <i class="small text-xs font-weight-normal text-danger" >{{message_erreur}}</i>
                                {% endif %}  
                                   
                               </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>

</div>

{% endblock %}