{% extends 'index.html' %}
{% block content %}
{% load static %}   

<div class="container-fluid">

    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Table des depenses</h1>
    </div>

    <p class="mb-4">Ce tableau contient la liste de toutes les depenses faites par l'eglise CBCA Katoyi </p>

    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Donnees</h6>
        </div>

        <div>
            <br>
        </div>
        <form method="get" action="{% url 'app:Depense_data' %}"
                        class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search">
            <div class="input-group">
                <input type="text" name="q" class="form-control bg-light border-0 small" placeholder="Recherche..."
                       aria-label="Search" aria-describedby="basic-addon2" value="{{ search_query }}">
                <div class="input-group-append">
                    <button class="btn btn-primary" type="submit">
                        <i class="fas fa-search fa-sm"></i>
                    </button>
                </div>
            </div>
        </form>

        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>Numero du compte</th>
                            <th>Nom de l'offrande</th>
                            <th>Solde</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for i in data %}
                        <tr>
                            <td>{{ i.nom_offrande__num_compte }}</td> 
                            <td>{{ i.nom_offrande__nom_offrande }}</td>
                            <td>{{ i.solde }}</td>
                            <td>
                               
                                <!-- Formulaire POST avec un lien pour déclencher la soumission -->
                                <form method="post"  action="Formulaire_Depense/{{ i.total_montant }}/" id="form_{{ i.nom_offrande__num_compte }}">
                                    {% csrf_token %}
                                    <input type="hidden" name="etat_not_id" value="{{ etat_not_id }}">
                                    <!-- Lien qui soumet le formulaire -->
                                    <a  class="nav-link" href="javascript:void(0);" onclick="document.getElementById('form_{{ i.nom_offrande__num_compte }}').submit();">
                                        <i class="small text-xs font-weight-bold text-primary">Depenser</i>
                                    </a>
                                    
                                </form>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>

                {% if message_succes %}
                    &#x2714; <i class="small text-xs font-weight-normal text-success">{{ message_succes }}</i>    
                {% endif %}

                {% if message_erreur %}
                    &#x274C; <i class="small text-xs font-weight-normal text-danger">{{ message_erreur }}</i>
                {% endif %} 

                <nav aria-label="Page navigation example">
                    <ul class="pagination justify-content-end">
                        <li class="page-item ">
                            {% if data.has_previous %}
                                <a class="page-link" href="?page={{ data.previous_page_number }}">Précédent</a>
                            {% endif %}
                        </li>
                        {% for num in data.paginator.page_range %}
                            {% if data.number == num %}
                                <li class="page-item">
                                    <a class="page-link" href="#">{{ num }}</a>
                                </li>
                            {% else %}
                                <li class="page-item">
                                    <a href="?page={{ num }}" class="page-link">{{ num }}</a>
                                </li>
                            {% endif %}
                        {% endfor %}
                        <li class="page-item">
                            {% if data.has_next %}
                                <a class="page-link" href="?page={{ data.next_page_number }}">Suivant</a>
                            {% endif %}
                        </li>
                    </ul>
                </nav>

            </div>
        </div>
    </div>

    {% if etat_not_id %}
        <div class="alert alert-info mt-4">
            <strong>ID reçu :</strong> {{ etat_not_id }}
        </div>
    {% endif %}
</div>

{% endblock %}
