{% extends 'index.html' %}
{% block content %}
{% load static %}

<div class="container-fluid">
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <a class="nav-link" href="{% url 'app:Depense_data'%}">
            <i class="fas fa-fw fa-database"></i>
            <span>Voir les dépenses</span>
        </a>
    </div>

    <!-- Outer Row -->
    <div class="row justify-content-center">
        <div class="col-xl-10 col-lg-12 col-md-9">
            <div class="card o-hidden border-0 shadow-lg my-5">
                <div class="card-body p-0">
                    <!-- Nested Row within Card Body -->
                    <div class="row">
                        <div class="col-lg-3 d-none d-lg-block bg-login-image">
                            <!-- Optional Image for Design -->
                        </div>
                        <div class="col-lg-6">
                            <div class="p-5">
                                <div class="text-center">
                                    <h1 class="h4 text-gray-900 mb-4">Sortie de caisse</h1>
                                </div>
                                <form class="user" method="post" action="{% url 'app:Depenser' %}">
                                    {% csrf_token %}
                                    
                                    <!-- Nom du bénéficiaire -->
                                    <div class="form-group">
                                        <input type="text" class="form-control" name="nom_beneficiaire" placeholder="Nom du bénéficiaire..." required>
                                    </div>
                                    
                                    <!-- Compte -->
                                    <div class="form-group">
                                        <input type="text" class="form-control" name="compte" placeholder="Numéro du compte" value="{{ num_compte }}" hidden required>
                                    </div>
                                    
                                    <!-- Nom du compte -->
                                    <div class="form-group">
                                        <input type="text" class="form-control" name="nom_compte" placeholder="Nom du compte" value="{{ nom_offrande }}" hidden required>
                                    </div>

                                    <!-- Solde caché -->
                                    <div class="form-group">
                                        <input type="hidden" class="form-control" name="solde" value="{{ montant_total }}" required>
                                    </div>

                                    <!-- Montant de la dépense -->
                                    <div class="form-group">
                                        <input type="number" class="form-control" name="montant" placeholder="Montant" required>
                                    </div>
                                    
                                    <!-- Motif de la dépense -->
                                    <div class="form-group">
                                        <input type="text" class="form-control" name="motif" placeholder="Motif de la dépense" required>
                                    </div>
                                    
                                    <!-- Date de sortie -->
                                    <div class="form-group">
                                        <input type="text" class="form-control" name="date_sortie" placeholder="Date..." value="{{ date_sortie }}" hidden required>
                                    </div>

                                    <!-- Année -->
                                    <div class="form-group">
                                        <input  class="form-control" name="annee" value="{{ annee_sortie }}" hidden required>
                                    </div>
                                    
                                    <!-- Bouton de soumission -->
                                    <div class="single-form">
                                        <button class="btn btn-primary btn-block" type="submit">Décaisser</button>
                                    </div>
                                </form>

                                <hr>
                                
                                <!-- Affichage des messages -->
                                <div class="text-center">
                                    {% if message_succes %}
                                        &#x2714; <i class="small text-xs font-weight-normal text-success">{{ message_succes }}</i>    
                                    {% endif %}
                                    {% if message_erreur %}
                                        &#x274C; <i class="small text-xs font-weight-normal text-danger">{{ message_erreur }}</i>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
