
{% extends 'index.html'%}
{% block content %}
{%load static%}   

<div class="container-fluid">
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <a class="nav-link" href="">
            <i class="fas fa-fw fa-download"></i>
            <span>Telecharger un PDF</span></a>
    </div>
    
    <!-- Outer Row -->
    <div class="row justify-content-center">
        
        
<div class="receipt">
    <div class="logo-container">
        
        <div class="row">
            <img src= "{% static 'img/logo.png' %}" alt= 'Logo CBCA' class= 'logo'>&nbsp;
            
            <div class="">
                ECC/3<sup>eme</sup> C.B.C.A
                <br>
                Département : FINANCE
                <br>
                Institution : EGLISE CBCA/KATOYI
                <br>
                BP 495 GOMA
            </div >
            <div class="espace">
                <p><strong>Date :</strong>{% for data in data %}
                    {% if forloop.first %}
                            {{data.date_payement}}
                    {% endif %}
                    {% endfor %}
                    </p>
            </div>
            
        </div>
        
    </div>
    {% for data in data %}
    {% if forloop.first %}
        <h3>BON DE SORTIE DE CAISSE N° {{ rand }}/CBCA/{{ data.annee }}</h3>
        <br>
        <p><strong>Nom du bénéficiaire : </strong>
            {{ data.departement }}
            {{ data.motifs }}
        </p>
        
        <p><strong>Montant (en lettres) : </strong> {{ montant_en_lettre }}</p>
        
        <p><strong>Motif du paiement : </strong> {{ data.motif }}</p>
    {% endif %}
{% endfor %}
    <table>
        <thead>
            <tr>
                <th>N° compte</th>
                <th>Intitulé du compte, Dpt.Service</th>
                <th>Montant</th>
            </tr>
        </thead>
        <tbody>
            {% for data in data %}
            <tr>
                <td>{{data.nom_offrande.num_compte}} </td>
                <td>{{data.nom_offrande}} </td>
                <td>{{data.montant}} $</td>
            </tr>
         {% endfor %}
        </tbody>
    </table>
   
        <div class="row">
            
            <p>Trésorier / RPS / RPP / EVARES / Comptable.Sce</p>&nbsp;
            <div class="">
                <p>Pour acqui</p>
            
            </div >
            <div class="espace">
                
                <p>Caissier</p>
            </div>
            
        </div>
        
    

</div>

    </div>

</div>

{% endblock %}                
                              
 