
{% extends 'index.html'%}
{% block content %}
{%load static%}   


<div class="container">
    <div class="Cadre_form">
        <div class= 'header'>
            <img src= "{% static 'img/logo.png' %}" alt= 'Logo ECCOSCA' class= 'logo'>&nbsp;
            <div>
                
                ECC/36<sup>eme</sup> C.B.C.A
                <br>
                Département : …………………….
                <br>
                Institution : ……………………
                <br>
                BP 495 GOMA
            </div>
            
            <div class= 'amount' >
            
                <p for= 'montant' >
                    Montant : <span class="souligné-points">7000000$</span>
                </p>
                
            </div>
        
        </div>
        <div class="recu_num">
            <label for= 'recu_n'>REÇU N° :...../.......</label>
        </div>
        
        <div class='details'>

                <p >Reçude&nbsp;................................................................................................................</p>
                
        </div>
            
        <div class='details'>
                
                <p>Lasommede(entouteslettres):&nbsp;...................................................................................</p>
        </div>
            
        <div class="details">
                <p>Motif :</p>
                
        </div>


        <div class= 'footer'>
            <div>
                La caisse
                <br>
                C.B.C.A
            </div>
            <div>
                Pour versement
                <br>
                Le : ……../……../20……..
            </div>
        </div>
    </div>
</div>
{% endblock %}