{% extends 'index.html'%}
{% block content %}
{%load static%}   



<div class="container-fluid">

    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Table de detail d'ahadi</h1>
        
    </div>

    <p class="mb-4">Ce tableau contient la liste de tout les payements d'ahadi de {{ ahadi.nom_postnom }}  </p>

    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Donnees</h6>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                           <!-- <th>Numero d'ordre</th> -->
                           
                            <th>Nom & Post-Nom</th>
                            <th>Nom d'offrande</th>
                            <th>Montant souscrit</th>
                            <th>Montant payer</th>
                            
                            <th>Date de payement</th>
                            
                        </tr>
                    </thead>
                    <tbody>
                        {% for paiement in data %}
                        <tr>
                    
                           
                            <td>{{ ahadi.nom_postnom }}</td>
                            <td>{{ paiement.op.nom_offrande }}</td>
                            <td>{{ ahadi.montant }}</td>
                
                            <td>{{ paiement.op.montant }}</td>
                            
                            <td>{{ paiement.op.date_payement }}</td>
                                {% empty %}
                                <td></td>
                                {% endfor %}
                            
                        </tr>
                        
                    </tbody>
                    
   
                </table>
                
               
            </div>
        </div>
    </div>



   

</div>


{% endblock %}