
{% extends 'index.html'%}
{% block content %}
{%load static%}   

<div class="container-fluid">
   
    <!-- Outer Row -->
    <div class="row justify-content-center">
        
        <div class="col-xl-10 col-lg-12 col-md-9">

            <div class="card o-hidden border-0 shadow-lg my-5">
                <div class="card-body p-0">
                    
                    <!-- Nested Row within Card Body -->
                    <div class="row">
                        <div class="col-lg-3 d-none d-lg-block bg-login-image">
                    
                        </div>
                        <div class="col-lg-6">
                            <div class="p-5">
                                <div class="text-center">
                                    <h1 class="h4 text-gray-900 mb-4">Modifier payement ahadi</h1>
                                    
                                </div>
                                <form class="user" method="post" action="{% url 'app:Modifier_ahadi_payement' payement.id %}">
                                    {% csrf_token %}
                                
                                    <div class="form-group">
                                        <input type="text" class="form-control"
                                            id="exampleInputEmail" name="nom_offrande"
                                            placeholder="Nom de l'offrande..." value="{{payement.id}}"hidden required>
                                    </div>
                                    <div class="form-group">
                                        <input type="text" class="form-control"
                                            id="exampleInputEmail" name="departement"
                                            placeholder="Nom..." value="{{payement.departement}}" required>
                                    </div>
                                    
                                    <div class="form-group">
                                        <input type="number" class="form-control"
                                            id="exampleInputEmail" name="montant"
                                            placeholder="Montant" value="{{payement.montant}}" required>
                                    </div>
                                    
                                    <div class="form-group">
                                        <input type="text" class="form-control"
                                            id="exampleInputEmail" name="motif"
                                            placeholder="Motif de payement" value="{{payement.motif}}" required>
                                    </div>
                                    <div class="form-group">
                                        <input type="text" class="form-control"
                                            id="exampleInputEmail" name="date_payement"
                                            placeholder="date..." value="{{payement.date_payement}}" hidden required>
                                    </div>
                                    <div class="form-group">
                                        <input type="text" class="form-control"
                                            id="exampleInputEmail" name="annee"
                                            placeholder="Annee..." value="{{payement.annee}}" hidden required>
                                    </div>
                                    
                                    
                                    <div class="single-form">
                                        <button class="btn btn-primary btn-block" type="submit">Modifier</button>
                                    </div>
                                    
                               </form>
                               <hr>
                               <div class="text-center">
                                {% if message_succes %}
                                &#x2714; <i class="small text-xs font-weight-normal text-success" >{{message_succes}}</i>    
                                {% endif %}
                                {% if message_erreur %}
                                &#x274C; <i class="small text-xs font-weight-normal text-danger" >{{message_erreur}}</i>
                                {% endif %}  
                                   
                               </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>

</div>

{% endblock %}