{% extends 'index.html'%}
{% block content %}
{%load static%}   

<form method="get" action="{% url 'app:test' %}" class="d-flex mb-4">
    <input type="text" name="q" class="form-control me-2" placeholder="Rechercher..." value="{{ search_query }}">
    <button type="submit" class="btn btn-primary">Rechercher</button>
</form>
  
  <div class="pagination">
    <ul class="list-unstyled d-flex justify-content-center">
      {% for num in page_obj.paginator.page_range %}
        {% if page_obj.number == num %}
          <li class="mx-1"><span class="badge bg-primary">{{ num }}</span></li>
        {% else %}
          <li class="mx-1">
            <a href="?page={{ num }}&q={{ search_query }}" class="badge bg-secondary text-decoration-none">{{ num }}</a>
          </li>
        {% endif %}
      {% endfor %}
    </ul>
  </div>
  
  <!-- Affichage des résultats de recherche -->
  <h3>Résultats de la recherche</h3>
  <ul>
    {% for groupe in page_obj %}
      <li>{{ groupe.description_recette }}</li>
    {% empty %}
      <li>Aucun groupe d'offrande trouvé.</li>
    {% endfor %}
  </ul>
  
{% endblock %}
